name: build of schedule

#on:
#  schedule:
#    - cron: '0 6 * * *'

on:
  push:
    branches: [ develop ]

jobs:
  build:

    runs-on: ubuntu-latest

    env:
      KEY_STORE_ENCRYPT: ${{ secrets.KEY_STORE_ENCRYPT }}
      GOOGLE_SERVICES_JSON: ${{ secrets.GOOGLE_SERVICES_JSON }}

    steps:
      - name: checkout to develop
        uses: actions/checkout@v3
        with:
          ref: develop
      - name: set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: 'temurin'
          cache: gradle
          ref: develop
      - name: Grant Permission for gradlew
        run: chmod +x ./gradlew
        shell: bash
      - name: Create sign folder
        run: mkdir -p ./sign
      - name: Decode And Save Keystore Base64
        run: |
          echo "$KEY_STORE_ENCRYPT" | base64 -i --decode > ./sign/bowoon.jks
      - name: Create local.properties
        run: |
          echo "${{ secrets.LOCAL_PROPERTIES }}" > ./sign/local.properties
      - name: Create google-services.json
        run: |
          echo "$GOOGLE_SERVICES_JSON" > ./app/google-services.json
      - name: build release
        run: ./gradlew testProdReleaseUnitTest
